.card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 369px;
   
    border-radius: 20px;
   
    box-shadow: 0px 4px 14px 0px #00000040;
    justify-content: center;
    align-items: center;
   margin: 20px ;


}

.card-image {
    margin: 10px;
}

.card-title {

    color: #FF93F4;
    font-size: 40px;
    font-weight: 800;
    line-height: 71px;
    text-align: center;

}

.card-text {
    margin: 15px;
    text-align: center;
    width: 266px;
    height: 120px;
}