
.card-container{
    display: flex;
    width: 300px;
    height: 369px;
    gap: 0px;
    border-radius: 20px ;
    opacity: 0px;
    box-shadow: 0px 4px 14px 0px #00000040;
    
    justify-content: center;




}
