.Text-Header {
    margin: 10px;
    height: 24px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}